@import "./constants.css";

.nav {
    display: flex;
    min-height: 10vh;
    width: 100%;
    gap: 30px;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}

.logo-img {
    height: auto;
    max-width: 20%;
    min-width: 300px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
}

.nav a {
    text-decoration: none;
}

.nav .link {
    font-size: 2rem;
    font-weight: bold;
    color: var(--tertiary-color);
}