@import "./constants.css";

.shop {
  background-color: var(--primary-color);
  height: 90vh;
  padding: 50px;
}

.shop button {
  cursor: pointer;
}

.shop input {
  text-align: center;
}

.sticky-bar {
  display: flex;
  width: 100%;
  gap: 5%;
  background-color: aliceblue;
}

.items-display {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  column-gap: 20px;
  row-gap: 20px;
  grid-template-rows: repeat(auto-fill, 250px);
  justify-content: center;
}

.item-card {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.item-card button {
  cursor: pointer;
  z-index: 1;
  max-width: 50%;
  justify-self: center;
}

.item-card img {
  max-width: 200px;
  justify-self: center;
}

.item-card .qty-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.item-card .qty-bar input {
  position: absolute;
  border-radius: 10px;
  border: none;
  background-color: rgba(128, 128, 128, 0.3);
  min-width: 200px;
}

.item-card .qty-bar button {
  border-radius: 50%;
  border: none;
  background-color: rgba(128, 128, 128, 0.3);
}
